@import "./variables.scss";

.main {
    height: 80vh;
    width: 100%;

    .hero_box {
        height: 500px;
        width: 500px;
        max-height: 70%;
        background-color: rgba($color: #fff, $alpha: 0.8);
        // background-color: $acm-primary-bg;
        border-radius: 50px;

        color: $acm-primary;

        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        z-index: 4;

        margin-left: 5%;
        margin-top: 10%;

        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        p {
            font-size: 14px;
            text-transform: uppercase;
            // text-shadow: #000 1px 1px 2px;
        }

        h1 {
            font-size: 66px;
            line-height: 76px;
            margin-top: 1.25rem;
            text-shadow: #000 1px 0 1px;
        }

        .sub_heading {
            font-size: 16px;
        }

        .venue_details {
            display: flex;
            margin-top: 40px;
            width: 100%;
            justify-content: space-between;
            font-weight: 400;

            p {
                font-weight: 500;
            }

            .venue {
                width: 60%;
            }
        }
    }

    @media screen and (max-width: 575px) {
        .hero_box {
            height: 300px;
            width: 300px;

            margin-left: 5%;
            margin-top: 30%;

            p {
                font-size: 12px;
                text-transform: uppercase;
                // text-shadow: #000 1px 1px 2px;
            }

            .sub_heading {
                font-size: 12px;
            }

            h1 {
                font-size: 36px;
                line-height: 50px;
                margin-top: 1.25rem;
                text-shadow: #000 1px 0 1px;
            }
        }
    }
}

.marquee_container {
    display: flex;
    gap: 30px;
}
.marquee {
    color: red;
    font-weight: 600;
    margin: 0 40px;
}

.info {
    background-color: $acm-primary;
    padding: 20px;

    p {
        text-align: justify;
        line-height: 25px;

        color: white;
        font-weight: 500;
    }
}

.banner {
    padding: 50px 0;

    h3 {
        font-weight: 200;
        font-size: 56px;
        color: $acm-primary;
        text-align: center;
    }

    .important_dates {
        div {
            margin: 20px 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }

    .register {
        a {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                border: 2px solid $acm-primary;
                padding: 10px 30px;
                font-size: 28px;
                margin: 20px 0;
                background-color: $acm-primary;
                color: white;
                -webkit-box-shadow: 9px -2px 28px 5px rgba(0, 0, 0, 0.41);
                -moz-box-shadow: 9px -2px 28px 5px rgba(0, 0, 0, 0.41);
                box-shadow: 9px -2px 28px 5px rgba(0, 0, 0, 0.41);

                &:hover {
                    cursor: pointer;
                    box-shadow: 16px 2px 14px 5px rgba(0, 0, 0, 0.41);
                }
            }
        }
    }
}

.divider {
    margin: 30px 0;
}
