$font-primary-color: #333;
$font-secondary-color: #595959;
$link-primary-color: #0070C9;

$navbar-breakpoint: 1150px;
$sidebar-breakpoint: 420px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;

$acm-primary: rgb(48, 111, 160);
$acm-primary-bg: rgba(48, 111, 160, 0.4);
$acm-text-bg: rgb(73, 135, 183);
$error-color: #de071c;
